* {
    margin: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
    /* Layout*/
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.3fr 0.5fr 6fr;
}

/* SIDEBAR */

.sidebar {
    /* Layout*/
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: repeat(auto);
    gap: 12px;
    
    padding: 12px;

    /* Typography */
    color: white;

    /* Visuals */
    background-color: rgb(25, 146, 212);
}


.material-icons {
    width: 24px;
    height: 24px;
    color: white;
}

/* HEADER */

.header {
    /* Visuals */
    background-color: aquamarine;
}

.sub-header {
    /* Visuals */
    background-color: aqua;
}


.body {
    /* Visuals */
    background-color: lightpink;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/* AVATARS & ICONS */

.avatar {
    width: 24px;
    height: 24px;
}

.avatar-large {
    width: 48px;
    height: 48px;
}

.material-icons.black {
    width: 24px;
    height: 24px;
    color: black;
}